<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>HDirect - LoggedIn</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
    integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/media.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/favorites.js"></script>
  <script type="text/javascript" src="/scripts/property.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <%- include('partials/_nav') %>
  <div class="super-main">
    <main>
      <h1 class="index-h1">Find your next perfect place with ease!</h1>
      <%- include('partials/_search') %>
      <div>
        <h2 class="index-h2" >Listing of all the properties</h2>
        <div>
         <% if(admin === true) { %>
          <!-- Trigger butto for the modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              Add a new listing
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
              Send Email
            </button>
            <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false"
              tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdrop1Label">Email from Admin</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form class="form" action="/admin/message" method="POST">
                      <div class="form-group mb-2" style="display:flex; flex-direction:column">
                        <label for="email">To:</label>
                        <input type="email" name="email" placeholder="example@mail.com"> <br />
                        <label for="text">Subject</label>
                        <input type="text" name="subject" placeholder="Subject"> <br />
                        <label for="messsage">message</label>
                        <textarea name="message" rows="5"></textarea>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- Modal to display form to add new listing-->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add new property</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form class="form" action="/admin/add" method="POST">
                      <div class="form-group mb-2" style="display:flex; flex-direction:column">
                        <label for="owner_id" >Owner Email:</label>
                        <input type="email" name = "email" value="singh.hveer1@gmail.com">  <br />
                        <label for="title">Title:</label>
                        <input type="text" name = "title"  value="Lighthouse Labs">  <br />
                        <label for="description">Description:</label>
                        <input type="text" name = "description"  value="Lighthouse Labs is a tech education company that offers 12-week bootcamps for web development and data science, as well as part-time up-skilling courses, with locations across Canada">  <br />
                        <label for="area">Area: </label>
                        <input type="text" name = "area" value="5000" > <br />
                        <label for="property_type">Property Type: </label>
                        <input type="text" name = "property_type" value="Commercial Building" > <br />
                        <label for="number_of_bathrooms">Number of Bathrooms: </label>
                        <input type="number" name = "number_of_bathrooms" value="5" > <br/>
                        <label for="number_of_bedrooms">Number of Bedrooms </label>
                        <input type="number" name = "number_of_bedrooms" value="0" > <br/>
                        <label for="cover_image_url">Image URL</label>
                        <input type="text" name = "cover_image_url" value="http://www.lighthouselabs.ca/static-assets/lighthouse-labs.jpg" > <br/>
                        <label for="country"> Country: </label>
                        <input type="text" name = "country" value="Canada" > <br/>
                        <label for="city">City: </label>
                        <input type="text" name = "city" value="Toronto" > <br/>
                        <label for="street">Street: </label>
                        <input type="text" name = "street" value="662 King St W #101" > <br/>
                        <label for="province">Province: </label>
                        <input type="text" name = "province" value="ON" > <br/>
                        <label for="post_code">Postal Code:  </label>
                        <input type="text" name = "post_code" value="M5V 1M7" > <br/>
                        <label for="price"> </label>
                        <input type="number" name = "price" value="100000000" > <br/>
                        <label for="listing_date"> Listing Date:  </label>
                        <input type="date" name = "listing_date" placeholder= "Listing Date" > <br/> <br/>
                        <label for="image_url_1">Image 1:  </label>
                        <input type="text" name = "image_url_1" value="https://www.lighthouselabs.ca/assets/home-1b1053e3e6e741308433e7e45af5783c8466e4bc14df186390ff707c05164f90.jpg" > <br/>
                        <label for="image_url_1">Image 2: </label>
                        <input type="text" name = "image_url_2" value="https://media.bizj.us/view/img/11806363/lighthouselabs-2018*1200xx1193-671-44-0.jpg" > <br/>
                        <label for="image_url_3">Image 3: </label>
                        <input type="text" name = "image_url_3" value="https://www.lighthouselabs.ca/assets/admissions-2f436c765cf321d758bf9098394be1c54123bf761c99f77f2991017fbb5b6a40.jpg" > <br/>
                        <label for="image_url_4">Image 4: </label>
                        <input type="text" name = "image_url_4" value="https://cdn.betakit.com/wp-content/uploads/2015/07/lighthouselabsvancouver-770x513.jpg" > <br/>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>
          <% } %>
         </div>
      <section class="feed <%= favP %>">
        <% for (const row of properties_user) { %>
          <div id="feed">
            <hr>
            <article>
              <h5  class= "1-<%= row.id %> open-property">
                <%= row.title %>
              </h5>
              <img  class="1-<%= row.id %> property-image open-property" src=<%=row.cover_image_url %>>
              <div>
                <spam>$ <%= row.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',' ) %>
                </spam>
                <% if(favP.includes(row.id)){ %>
                  <i class="fa-solid fa-heart <%= row.id %>" id="liked"></i>
                <% } else { %>
                  <i class="fa-solid fa-heart <%= row.id %>" data-favs="<%= favP %>"></i>
                  <% } %>
              </div>
              <p>
                <%= row.property_type%> | <%= row.number_of_bedrooms%> bed | <%= row.number_of_bathrooms%> bath
              </p>
              <p>
                <%= row.street%>, <%= row.city%>, <%= row.province%> <%= row.property_id %>
              </p>
            </article>
            <div style="display: flex; justify-content: space-between; " >
              <% if(admin === true) { %>
                <form method="POST" action="/admin/properties/<%= row.id %>/delete">  <!-- Form button to delete a listing-->
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                    <% if(row.active ===  true) { %>
                      <form method="POST" action="/admin/properties/<%= row.id %>/sold">  <!-- Form button to mark property as sold-->
                        <button type="submit" class="btn btn-success active">✅ as Sold</button>
                      </form>
                    <% } else {%>
                      <form method="POST" action="/admin/properties/<%= row.id %>/sold">  <!-- Form button to mark property as sold-->
                        <button type="submit" class="btn btn-secondary">&nbsp;&nbsp;&nbsp;Sold&nbsp;&nbsp;&nbsp;</button>
                        </form>
                    <% } %>
                  <%  } %>
            </div>
          </div>
          <% } %>
      </section>
    </main>
    <hr>
    <%- include('partials/_footer') %>
  </div>
</body>
</html>
